{% extends "base.html"%}
{% block content %}
{% csrf_token %}
  <form method="POST">
    {% csrf_token %}
    <div style="margin: auto; background-color: white; padding: 20px; width: 50%; box-shadow: 1px 4px 4px;">
      <div style="text-align: center;">
        <i style="font-size:50px; color: blue;" class="fa fa-user" aria-hidden="true"></i>
      </div>
      {{form.errors}}
      {% for x in form %}
    <p class="clab">{{x.label}}</p>
             <p>{{x}}</p>
    {% endfor %}
    <input type="submit" value="Change Password" style="margin-left: 70%; color: white; background-color: blue; border-radius: 4px; padding: 5px; border: none; width: 30%;">
  </div>
  </form>
{% endblock %}